<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Race</title>
    <link href="@styles/flaticon.scss" rel="stylesheet">
    <link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">
    <link href="@styles/index.scss" rel="stylesheet">
</head>
<body>
<header class="l-header">
    <div class="o-tools">
        <ul class="o-tools__wrapper">
            <li class="o-tools__item">
                <label>
                    <select name="language">
                        <option value="fr">FR</option>
                        <option value="en">EN</option>
                        <option value="es">ES</option>
                    </select>
                </label>
            </li>
            <li class="o-tools__item">
                <label>
                    <select>
                        <option value="euro">Euro</option>
                        <option value="usd">USD</option>
                    </select>
                </label>
            </li>
            <li class="o-tools__item--search">
                <span class="lnr lnr-magnifier o-item--logo"></span>
            </li>
        </ul>
        <ul class="o-tools__wrapper--right">
            <li class="o-tools__item--right u-border-left">
                <span class="o-item">+33 04 12 34 56 78</span>
            </li>
            <li class="o-tools__item--right">
                <a href="#" class="o-item">Connexion</a>
            </li>
            <li class="o-tools__item--right">
                <a href="#" class="o-item">Inscription</a>
            </li>
        </ul>
    </div>
    <div>
        <a>
            <span>List</span>
            <span>Race</span>
        </a>
        <nav>
            <a href="#">Accueil</a>
            <a href="#">Fonctionnement</a>
            <a href="#">Exploration</a>
            <a href="#">Avis</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
        </nav>
    </div>
</header>
<section class="l-section">
    <div class="o-section__text">
        <h1 class="o-text__title">Le meilleur endroit pour chercher et trouver<br/>tout ce dont vous avez besoin</h1>
        <p class="o-text__subtitle">Trouvez les meilleurs endroits, restaurants, hotels et bien plus en un seul clic</p>
    </div>
    <div class="o-home__search">
        <div class="o-search__wrapper">
            <div class="o-search__field">
                <label>
                    Quoi ?
                    <input placeholder="Ex: Hotel, Place, Nourriture, Voiture"/>
                </label>
                <i class="flaticon-list-with-dots"></i>
            </div>
            <div class="o-search__field">
                <label>
                    Où ?
                    <input placeholder="Ex: Paris, Nancy, Toulouse">
                    <i class="flaticon-gps-fixed-indicator"></i>
                </label>
            </div>
            <button class="o-search__button" type="submit">Rechercher<img alt="search" src="@images/search.svg">
            </button>
        </div>
    </div>
    <div class="o-home__card">
        <a class="o-card">
            <i class=" o-card__icon flaticon-restaurant"></i>
            <p class="o-card__title">Reastaurant</p>
            <p class="o-card__text">150 éléments</p>
        </a>
        <a class="o-card">
            <i class=" o-card__icon flaticon-travel"></i>
            <p class="o-card__title">Destination</p>
            <p class="o-card__text">214 éléments</p>
        </a>
        <a class="o-card">
            <i class=" o-card__icon flaticon-building"></i>
            <p class="o-card__title">Hotels</p>
            <p class="o-card__text">185 éléments</p>
        </a>
        <a class="o-card">
            <i class=" o-card__icon flaticon-pills"></i>
            <p class="o-card__title">Santé</p>
            <p class="o-card__text">200 éléments</p>
        </a>
        <a class="o-card">
            <i class=" o-card__icon flaticon-transport"></i>
            <p class="o-card__title">Véhicules</p>
            <p class="o-card__text">120 éléments</p>
        </a>
    </div>
</section>
<section class="l-section">
    <div class="o-section__text">
        <h2 class="o-text__title">Fonctionnement</h2>
        <p class="o-text__subtitle">Apprenez en plus sur le fonctionnement du site</p>
    </div>
    <div class="o-works__card">
        <div class="o-card">
            <div class="o-card__icon-wrapper">
                <i class="o-icon flaticon-lightbulb-idea"></i>
            </div>
            <p class="o-card__title">Recherchez</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae, cum doloribus facilis odit
                repellendus sunt.</p>
            <a class="o-card__link" href="#">Voir plus</a>
        </div>
        <div class="o-card">
            <div class="o-card__icon-wrapper">
                <i class="o-icon flaticon-networking"></i>
            </div>
            <p class="o-card__title">Choisissez</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae, cum doloribus facilis odit
                repellendus sunt.</p>
            <a class="o-card__link" href="#">Voir plus</a>
        </div>
        <div class="o-card">
            <div class="o-card__icon-wrapper">
                <i class="o-icon flaticon-location-on-road"></i>
            </div>
            <p class="o-card__title">Explorez</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae, cum doloribus facilis odit
                repellendus sunt.</p>
            <a class="o-card__link" href="#">Voir plus</a>
        </div>
    </div>
</section>
<section class="l-section">
    <div class="o-section__text">
        <h2 class="o-text__title">Explorez</h2>
        <p class="o-text__subtitle">Explorez de nouveaux endroits, de nouvelles culture et bien plus encore</p>
        <div class="o-card__wrapper">
            <div class="o-card">
                <img alt="explore-image" class="o-card__img" src="@images/explore/e1.jpg"/>
                <p class="o-card__title">Tommy Helfinger bar</p>
                <div class="o-card__info">
                    <p class="o-info__note">5.0</p>
                    <p class="o-info__rate">10 Avis</p>
                    <p class="o-info__price">Tarifs 5€-300€</p>
                    <p class="o-info__type">Restaurant</p>
                </div>
                <div class="o-card__advice">
                    <img alt="person-pic" class="o-advice__img" src="@images/explore/person.png"/>
                    <p class="o-advice__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        atque, beatae consequatur consequuntur cumque debitis dicta dolores est excepturi fuga incidunt
                        ipsa nemo nobis quo reiciendis sed, sunt unde vel.</p>
                </div>
                <div class="o-card__footer">
                    <a class="o-card-footer__link" href="#">Close now</a>
                    <div class="o-card-footer__icons">
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/map-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/export-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/like-icon.svg"/></a>
                    </div>
                </div>
            </div>
            <div class="o-card">
                <img alt="explore-image" class="o-card__img" src="@images/explore/e2.jpg"/>
                <p class="o-card__title">Swim and dine resort</p>
                <div class="o-card__info">
                    <p class="o-info__note">4.5</p>
                    <p class="o-info__rate">8 Avis</p>
                    <p class="o-info__price">Tarifs 50€-500€</p>
                    <p class="o-info__type">Hotel</p>
                </div>
                <div class="o-card__advice">
                    <img alt="person-pic" class="o-advice__img" src="@images/explore/person.png"/>
                    <p class="o-advice__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        atque, beatae consequatur consequuntur cumque debitis dicta dolores est excepturi fuga incidunt
                        ipsa nemo nobis quo reiciendis sed, sunt unde vel.</p>
                </div>
                <div class="o-card__footer">
                    <a class="o-card-footer__link" href="#">Close now</a>
                    <div class="o-card-footer__icons">
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/map-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/export-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/like-icon.svg"/></a>
                    </div>
                </div>
            </div>
            <div class="o-card">
                <img alt="explore-image" class="o-card__img" src="@images/explore/e3.jpg"/>
                <p class="o-card__title">Europe tour</p>
                <div class="o-card__info">
                    <p class="o-info__note">5.0</p>
                    <p class="o-info__rate">15 Avis</p>
                    <p class="o-info__price">Tarifs 5k€-10k€</p>
                    <p class="o-info__type">Destination</p>
                </div>
                <div class="o-card__advice">
                    <img alt="person-pic" class="o-advice__img" src="@images/explore/person.png"/>
                    <p class="o-advice__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        atque, beatae consequatur consequuntur cumque debitis dicta dolores est excepturi fuga incidunt
                        ipsa nemo nobis quo reiciendis sed, sunt unde vel.</p>
                </div>
                <div class="o-card__footer">
                    <a class="o-card-footer__link" href="#">Close now</a>
                    <div class="o-card-footer__icons">
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/map-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/export-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/like-icon.svg"/></a>
                    </div>
                </div>
            </div>
            <div class="o-card">
                <img alt="explore-image" class="o-card__img" src="@images/explore/e4.jpg"/>
                <p class="o-card__title">Bungalow</p>
                <div class="o-card__info">
                    <p class="o-info__note">5.0</p>
                    <p class="o-info__rate">10 Avis</p>
                    <p class="o-info__price">Tarifs 10k€-15k€</p>
                    <p class="o-info__type">Immobilier</p>
                </div>
                <div class="o-card__advice">
                    <img alt="person-pic" class="o-advice__img" src="@images/explore/person.png"/>
                    <p class="o-advice__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        atque, beatae consequatur consequuntur cumque debitis dicta dolores est excepturi fuga incidunt
                        ipsa nemo nobis quo reiciendis sed, sunt unde vel.</p>
                </div>
                <div class="o-card__footer">
                    <a class="o-card-footer__link" href="#">Close now</a>
                    <div class="o-card-footer__icons">
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/map-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/export-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/like-icon.svg"/></a>
                    </div>
                </div>
            </div>
            <div class="o-card">
                <img alt="explore-image" class="o-card__img" src="@images/explore/e5.jpg"/>
                <p class="o-card__title">Vintage car expo</p>
                <div class="o-card__info">
                    <p class="o-info__note">4.2</p>
                    <p class="o-info__rate">8 Avis</p>
                    <p class="o-info__price">Tarifs 500€-1200€</p>
                    <p class="o-info__type">Automobile</p>
                </div>
                <div class="o-card__advice">
                    <img alt="person-pic" class="o-advice__img" src="@images/explore/person.png"/>
                    <p class="o-advice__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        atque, beatae consequatur consequuntur cumque debitis dicta dolores est excepturi fuga incidunt
                        ipsa nemo nobis quo reiciendis sed, sunt unde vel.</p>
                </div>
                <div class="o-card__footer">
                    <a class="o-card-footer__link" href="#">Close now</a>
                    <div class="o-card-footer__icons">
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/map-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/export-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/like-icon.svg"/></a>
                    </div>
                </div>
            </div>
            <div class="o-card">
                <img alt="explore-image" class="o-card__img" src="@images/explore/e6.jpg"/>
                <p class="o-card__title">Thailand tour</p>
                <div class="o-card__info">
                    <p class="o-info__note">5.0</p>
                    <p class="o-info__rate">15 Avis</p>
                    <p class="o-info__price">Tarifs 5k€-10k€</p>
                    <p class="o-info__type">Destination</p>
                </div>
                <div class="o-card__advice">
                    <img alt="person-pic" class="o-advice__img" src="@images/explore/person.png"/>
                    <p class="o-advice__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        atque, beatae consequatur consequuntur cumque debitis dicta dolores est excepturi fuga incidunt
                        ipsa nemo nobis quo reiciendis sed, sunt unde vel.</p>
                </div>
                <div class="o-card__footer">
                    <a class="o-card-footer__link" href="#">Close now</a>
                    <div class="o-card-footer__icons">
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/map-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/export-icon.svg"/></a>
                        <a class="o-card-footer__link-icon" href="#"><img alt="link-icon"
                                                                          src="@images/explore/like-icon.svg"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-section">
    <div class="o-section__text">
        <h2 class="o-text__title">Avis clients</h2>
        <p class="o-text__subtitle">Ce que nos clients disent de nous</p>
    </div>
    <!-- TODO carousel -->
</section>
<section class="l-section">
    <!-- TODO à animer -->
    <div class="o-counter">
        <p class="o-counter__number">90K+</p>
        <p class="o-counter__text">Annonces</p>
    </div>
    <div>
        <p class="o-counter__number">40K+</p>
        <p class="o-counter__text">Catégories</p>
    </div>
    <div>
        <p class="o-counter__number">65K+</p>
        <p class="o-counter__text">Visiteurs</p>
    </div>
    <div>
        <p class="o-counter__number">50K+</p>
        <p class="o-counter__text">Clients comblés</p>
    </div>
</section>
<section class="l-section">
    <div class="o-section__text">
        <h2 class="o-text__title">Blog</h2>
        <p class="o-text__subtitle">Restez à jour avec nos derniers articles et nouvelles</p>
    </div>
    <div class="o-news__cards">
        <div class="o-card--news">
            <img alt="card-image" class="o-card__img--news" src="@images/news/b1.jpg"/>
            <p class="o-card__title--news">Comment trouver votre endroit idéal plus rapidement</p>
            <div class="o-card__infos">
                <p class="o-info__author">Posté par <span>admin</span></p>
                <p class="o-info__date">Mars 2018</p>
            </div>
            <p class="o-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam beatae
                blanditiis corporis dolores ea, eaque eius esse facere impedit minima necessitatibus nostrum, nulla
                praesentium quas quo quos tempora, voluptates?</p>
        </div>
        <div class="o-card--news">
            <p class="o-card__title--news">Comment trouver votre endroit idéal plus rapidement</p>
            <img alt="card-image" class="o-card-news__img" src="@images/news/b1.jpg"/>
            <div class="o-card__infos">
                <p class="o-info__author">Posté par <span>admin</span></p>
                <p class="o-info__date">Mars 2018</p>
            </div>
            <p class="o-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam beatae
                blanditiis corporis dolores ea, eaque eius esse facere impedit minima necessitatibus nostrum, nulla
                praesentium quas quo quos tempora, voluptates?</p>
        </div>
        <div class="o-card--news">
            <p class="o-card__title--news">Comment trouver votre endroit idéal plus rapidement</p>
            <img alt="card-image" class="o-card-news__img" src="@images/news/b1.jpg"/>
            <div class="o-card__infos">
                <p class="o-info__author">Posté par <span>admin</span></p>
                <p class="o-info__date">Mars 2018</p>
            </div>
            <p class="o-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam beatae
                blanditiis corporis dolores ea, eaque eius esse facere impedit minima necessitatibus nostrum, nulla
                praesentium quas quo quos tempora, voluptates?</p>
        </div>
    </div>
</section>
<section class="l-section">
    <div class="o-section__text">
        <h2 class="o-text__title">Voulez-vous ajouter votre activité à nos annonces ?</h2>
        <p class="o-text__subtitle">Listrace vous propose d'ajouter votre annonce et de promouvoir votre activité</p>
    </div>
    <div class="o-contact">
        <label>
            <input class="o-contact__input" placeholder="Saisissez votre e-mail"/>
        </label>
        <button class="o-contact__button">Nous contacter</button>
    </div>
</section>
<footer class="l-footer">
    <div>
        <a class="l-footer__logo" href="#">
            <span class="o-logo-left--footer">List</span>
            <span class="o-logo-right--footer">Race</span>
        </a>
        <nav class="l-nav--footer">
            <ul>
                <li><a class="l-nav__link--footer" href="#">Fonctionnement</a></li>
                <li><a class="l-nav__link--footer" href="#">Exploration</a></li>
                <li><a class="l-nav__link--footer" href="#">Avis</a></li>
                <li><a class="l-nav__link--footer" href="#">Blog</a></li>
                <li><a class="l-nav__link--footer" href="#">Contact</a></li>
                <li><a class="l-nav__link--footer" href="#">Mon compte</a></li>
            </ul>
        </nav>
    </div>
</footer>
<script src="@scripts/index.js"></script>
</body>
</html>